<div class="container mt-2">
  <app-sub-header icon="fa fa-building-o" subHeaderText="Project Information"></app-sub-header>
</div>

 <form [formGroup]="projectForm" class="text-secondary">
         
       <div class="text-info container col-8 p-0 mt-4 mb-2">
          <i class="fa fa-info-circle p-2"></i>
          <small>Profile</small>
      </div>
    
      <div class="container border border-secondary rounded col-8 p-5">
        <reactive-input [control]="projectName" [value]="projectName.value"
        inputClass="col-10" label="Project Name"></reactive-input>
    
        <reactive-textarea [control]="description"
        inputClass="col-10" rows="4" label="Description"></reactive-textarea>

        <reactive-select [control]="projectType" 
        [icon] = "projectTypeGenerateIcon(projectType.value)"
        selectClass="col-4" label="Project Type" [options]="projectTypeOptions"></reactive-select>

        <reactive-address [group]="address" label="Address"></reactive-address>

        <div class="row">
          <reactive-input [control]="dateStarted" [value]="dateStarted.value" 
          dualColumn="true" label="Date Started" inputClass="col-6" class="col-6"></reactive-input>
  
          <reactive-input [control]="dateEnded" [value]="dateEnded.value" 
          dualColumn="true" label="Date Ended" inputClass="col-6" class="col-6"></reactive-input>
        </div>
      </div>
    
      <div class="text-info container col-8 p-0 mt-2 mb-2">
          <i class="fa fa-money p-2"></i>
          <small>Cost Details</small>
      </div>
    
      <div class="container border border-secondary col-8 p-5" formGroupName="costDetails">
          <reactive-input [control]="totalCost" [value] = "totalCost.value"
          label="Total Cost" inputClass="col-9"></reactive-input>

          <label class="small">Disbursements</label>
          <div formArrayName="disbursement">
             <div class="form-group" 
             *ngFor="let disbursement of disbursements.controls; let i=index"
             [formGroupName]="i">
               <div class="row">

                <reactive-input [control]="disbursement.controls.cost"
                [value]="disbursement?.controls.cost?.value"
                inputClass="col-8" class="col-6" dualColumn="true"></reactive-input>

                <reactive-input [control]="disbursement.controls.date" [value]="disbursement.controls.date.value"
                inputClass="col-8" class="col-5" dualColumn="true"></reactive-input>
                   <a *ngIf="i > 0 " (click)="disbursementDeleteForm(i)"
                   class="close text-danger m-0 pl-1" 
                   aria-label="Close">
                     <small aria-hidden="true">&times;</small>
                   </a>
                </div>             
             </div>          
          </div>
    
        </div>
        
        <div class="container col-8 mt-4 mb-5 ">
            <button class="btn btn-sm btn-info col-1 float-right" routerLink="../">Back</button>
        </div>
      </form>