<div class="container">
  <div class="row">
    <div class="col">
      <h1><i class="fa fa-building"></i> Projects</h1>
    </div>
  </div>
  
  <div class="row">
      <app-view-options class="col-6"></app-view-options>
      <a class="nav-link text-dark ml-auto" routerLink="/project/information" >
        <i class="fa fa-plus-circle"></i> New Project</a>
  </div>
  

<div class="card-deck">
  <div class="card border-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Header </div>
    <div class="card-body text-secondary">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
<app-pagination class="float-right"></app-pagination>
</div>