<div class="container">
  <div class="row">
    <div class="col">
      <h1><i class="fa fa-building-o"></i> Projects</h1>
    </div>
  </div>
  
  <div class="row">
      <app-view-options class="col-6"></app-view-options>
      <a class="nav-link text-dark ml-auto" routerLink="/project/form" >
        <i class="fa fa-plus-circle"></i> New Project</a>
  </div>
  

<div class="card-deck" >
  <div class="card border-secondary mb-3" style="max-width: 18rem;"
  *ngFor="let project of projects | slice:0:4; let i=index">
    <div class="card-header">{{project.projectProfile.projectName}} </div>
    <div class="card-body text-secondary">
      <h5 class="card-title">{{project.projectProfile.description}}</h5>
      <a class="btn card-text" routerLink="/project/form/view" (click)="onView(i)" >view details</a>
    </div>
  </div>
</div>
<div class="card-deck" >
  <div class="card border-secondary mb-3" style="max-width: 18rem;"
  *ngFor="let project of projects | slice:4:8">
    <div class="card-header">Header </div>
    <div class="card-body text-secondary">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
<app-pagination class="float-right"></app-pagination>
</div>