  <div class="row">
    <div class="col">

      <table class="table border rounded">
        <thead class="bg-primary text-center">
          <tr>
              <th class="text-uppercase border text-light small font-weight-bold" 
                  *ngFor="let tableHeader of tableHeaders">
                  {{tableHeader}}
                </th>
          </tr>
        </thead>
        <tbody class="text-center text-secondary text-capitalize" style="cursor: pointer;">
          <tr *ngFor="let item of items"
               routerLink="view" 
               (click) = "view(item)"
               app-table-row
               [item]="item"
               [items]="items"
               [tableRow]="tableHeaders">
          </tr>
        </tbody>
      </table>
    </div>
  </div>