

<div class="container mt-2">
  <div class="row">
    <div class="col">
        <h1> <i class="fa fa-building-o"></i> Project Information</h1>
    </div>
</div>
</div>


<form>
<div class="container col-8 p-0 mt-4 mb-2">
    <i class="fa fa-info-circle p-2"></i>
    <small>Profile</small>
</div>

<div class="container border border-secondary col-8 p-5">
  <div class="form-group row">
    <label for="project-name" 
    class="col-2 col-form-label">Project Name</label>
    <input  type = "text" value="{{selectedProject.projectProfile.projectName}}"
     class="form-control-plaintext text-secondary bg-light col" readonly>
  </div>

  <div class="form-group row">
      <label for="description"
      class="col-2 col-form-label">Description</label>
      <textarea name="description" 
      class="form-control-plaintext text-secondary bg-light col"
      value="{{selectedProject.projectProfile.description}}"
      rows="5"readonly></textarea>
  </div>

  <div class="form-group row">
      <label for="date-started"
      class="col-2 col-form-label">Date Started</label>
      <input type="text" 
      class="form-control-plaintext text-secondary bg-light col-4"
      value="{{selectedProject.projectProfile.dateStarted}}"readonly>       
      <label for="date-ended"
      class="col-2 col-form-label">Date Ended</label>
      <input type="text"  
      class="form-control-plaintext text-secondary bg-light col-4"
      value="{{selectedProject.projectProfile.dateEnded}}" readonly>
  </div>
</div>

<div class="container col-8 p-0 mt-2 mb-2">
    <i class="fa fa-money p-2"></i>
    <small>Cost Details</small>
</div>

<div class="container border border-secondary col-8 p-5">
    <div class="form-group row">
      <label for="total-cost"
      class="col-2 col-form-label">Total Cost</label>
      <input type="text" class="form-control-plaintext text-secondary bg-light col-4 "
      value="{{selectedProject.projectCost.totalCost}}" readonly>
    </div>

    <label>Disbursements</label>
    <div class="form-group" *ngIf="selectedProject.projectCost.disbursement.length == undefined">
        <div class="row mb-2">
           <input type="text"
            class="form-control-plaintext text-secondary bg-light offset-2 col-4 "
            value="{{selectedProject.projectCost.disbursement.cost}}"readonly>
            <input type="text"
            class="form-control-plaintext text-secondary bg-light offset-2 col-3"
            value="{{selectedProject.projectCost.disbursement.date}}"readonly>   
         </div>             
      </div> 

       <div class="form-group" *ngIf="selectedProject.projectCost.disbursement.length != undefined">
         <div class="row mb-2" 
         *ngFor="let disbursement of selectedProject.projectCost.disbursement; 
         let i=index">
            <input type="text"
             class="form-control-plaintext text-secondary bg-light offset-2 col-4 "
             value="{{disbursement.cost}}"readonly>
             <input type="text"
             class="form-control-plaintext text-secondary bg-light offset-2 col-3"
             value="{{disbursement.date}}"readonly>    
          </div>             
       </div>         


  </div>


  <div class="container col-9 mt-5 mb-5 ">
      <button class="btn btn-info offset-10 col-1" routerLink="/project">Back</button>
  </div>
</form>