

<div class="container mt-2">
  <div class="row">
    <div class="col">
        <h1> <i class="fa fa-building-o"></i> Project Information</h1>
    </div>
</div>
</div>


<form>
<div class="container col-8 p-0 mt-4 mb-2">
    <i class="fa fa-info-circle p-2"></i>
    <small>Profile</small>
</div>

<div class="container border border-secondary col-8 p-5">
  <div class="form-group row">
    <label for="project-name" 
    class="col-2 col-form-label">Project Name</label>
    <input  type = "text" value="{{projects[this.selectedIndex].projectProfile.projectName}}"
     class="form-control col plain-text">
  </div>

  <div class="form-group row">
      <label for="description"
      class="col-2 col-form-label">Description</label>
      <textarea name="description" class="form-control col"
      value="{{projects[this.selectedIndex].projectProfile.description}}"
      rows="5"></textarea>
  </div>

  <div class="form-group row">
      <label for="date-started"
      class="col-2 col-form-label">Date Started</label>
      <input type="text" class="form-control col-3"
      value="{{projects[this.selectedIndex].projectProfile.dateStarted}}">
      <h3 class="ml-2"><i class="fa fa-calendar "></i></h3>        
      <label for="date-ended"
      class="col-2 col-form-label">Date Ended</label>
      <input type="text"  class="form-control col-3"
      value="{{projects[this.selectedIndex].projectProfile.dateEnded}}">
      <h3 class="ml-2"><i class="fa fa-calendar "></i></h3>
  </div>
</div>

<div class="container col-8 p-0 mt-2 mb-2">
    <i class="fa fa-money p-2"></i>
    <small>Cost Details</small>
</div>

<div class="container border border-secondary col-8 p-5">
    <div class="form-group row">
      <label for="total-cost"
      class="col-2 col-form-label">Total Cost</label>
      <input type="text" class="form-control col-4"
      value="{{projects[this.selectedIndex].projectCost.totalCost}}" >
    </div>

    <label>Disbursements</label>
    {{disbursements.length}}
    <div class="form-group" *ngIf="disbursements.length == undefined">
        <div class="row mb-2">
           <input type="text"
            class="form-control offset-2 col-4 "
            value="{{projects[this.selectedIndex].projectCost.disbursement.cost}}">
            <input type="text"
            class="form-control offset-2 col-3"
            value="{{projects[this.selectedIndex].projectCost.disbursement.date}}">              
            <h3 class="ml-2"><i class="fa fa-calendar "></i></h3>
         </div>             
      </div> 

       <div class="form-group" *ngIf="disbursements.length != undefined">
         <div class="row mb-2" 
         *ngFor="let disbursement of disbursements; 
         let i=index">
            <input type="text"
             class="form-control offset-2 col-4 "
             value="{{projects[this.selectedIndex].projectCost.disbursement[i].cost}}">
             <input type="text"
             class="form-control offset-2 col-3"
             value="{{projects[this.selectedIndex].projectCost.disbursement[i].date}}">              
             <h3 class="ml-2"><i class="fa fa-calendar "></i></h3>
          </div>             
       </div>         


  </div>


  <div class="container col-9 mt-5 mb-5">
      <button class="btn btn-info ml-3 col-1" routerLink="/project">Back</button>
  </div>
</form>