<div class="container">
  <div class="row">
    <div class="col">
      <!-- <h1><i class="fa fa-building-o"></i><span class="text-capitalize"> {{activatedURL}}</span></h1> -->
      <h1><i class="fa" 
        [ngClass]="{ 'fa-building-o' : activatedURL === 'project' ,
                      'fa-users' : activatedURL === 'employee'}"></i>
      <span class="text-capitalize"> {{activatedURL}}</span></h1>
    </div>
  </div>
  <div class="row">
    <nav class="nav mb-2 col-6">
      <a class="nav-link text-dark" routerLink="grid">
        <i class="fa fa-th-large"></i> Grid View</a>
      <a class="nav-link text-dark" routerLink="list">
        <i class="fa fa-th-list"></i> List View</a>
      <a class="nav-link disabled" href="">
        <i class="fa fa-map"></i> Map View</a>
    </nav>

    <nav class="nav mb-2 offset-4">
      <a class="nav-link text-success" routerLink="new">
        <i class="fa fa-plus-circle"></i> New <span class="text-capitalize">{{activatedURL}}</span> </a>
    </nav>
  </div>

    <router-outlet></router-outlet>    
</div>