<div class="container mt-2">
  <div class="row">
    <h1>
      <i class="fa fa-users mb-4"></i> Employee</h1>
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="container col-8 p-0 mt-4 mb-2">
    <i class="fa fa-info-circle fa-lg p-2"></i>
    <small>Profile</small>
  </div>

  <div class="container border border-secondary col-8 p-5">
    <div class="form-group row">
      <label class="col-2">*First Name</label>
      <input class="col-3 form-control" type="text" formControlName="firstName" minlength="2" required>

      <label class="col-2">*Last Name</label>
      <input class="col-4 form-control" type="text" pattern="^[a-zA-Z]+$" formControlName="lastName" required minlength="2
      ">
    </div>


    <div class="row ml-5">
      <div class="col-5 border rounded" *ngIf="form.controls['firstName'].touched && !form.controls['firstName'].valid">
        <small *ngIf="form.controls['firstName'].hasError('required')" class="text-danger"> Please Fill Up the Text box
        </small>

        <small class="text-danger" *ngIf="form.controls['firstName'].errors?.minlength">First Name must be at least 2
          characters</small>

      </div>

      <div class="col-5 pl-5 border rounded" *ngIf="form.controls['lastName'].touched && !form.controls['lastName'].valid">
        <small *ngIf="form.controls['lastName'].hasError('required')" class="text-danger"> Please Fill Up the Text box</small>

        <small class="text-danger" *ngIf="form.controls['lastName'].errors?.minlength">Last Name must be at least 2
          characters</small>
      </div>
    </div>


    <div class="row">
      <label class="col-2 col-form-label">Gender</label>
      <div class="form-group mt-2">
        <div class="radio">
          <label class="mr-4">
            <input type="radio" class="ml-2" value=Male formControlName="gender"> Male
          </label>
          <label>
            <input type="radio" value="Female" formControlName="gender"> Female
          </label>
        </div>
        <!-- <div *ngIf="form.controls['gender'].touched && !form.controls['gender'].valid">
          <small *ngIf="form.controls['gender'].hasError('required')">
            Please choose a Gender
          </small>
        </div> -->
      </div>
    </div>

    <div class="row">
      <label class="col-2 col-form-label">Skills</label>
      <select class="col-3 custom-select" formControlName="skill">
        <option *ngFor="let skill of skillset" [ngValue]="skill.value">
          {{ skill.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="container col-8 p-0 mt-3 mb-2">
    <i class="fa fa-id-card fa-lg p-2"></i>
    <small>Contact Information</small>
  </div>

  <div class="container border border-secondary col-8 p-5">
    <div class="form-group row">
      <div formArrayName="contacts">
        <label class="col-2 col-form-label">Contacts</label>
        <div *ngFor="let phone of contactsForm.controls; let i = index;" [formGroupName]="i">
          <input class="form-control mb-2" type="text" [textMask]="{mask: mask}" pattern="\+\d \(\d{3}\) \d{3}-\d{4}"
            formControlName="homenumber">
          <div>
            <button type="button" class="btn fa fa-trash btn-secondary btn-sm float-right mb-2" (click)="deleteContact(i)"
              *ngIf="i > 0"></button>
          </div>
          <!-- <div class="row pl-3">
            <div *ngIf="contactsForm.touched && !contactsForm.valid">
              <small class="text-danger" *ngIf="contactsForm.hasError('required')">PLEASE INPUT CONTACT!</small>
            </div>

          </div> -->
        </div>
        <div>
          <button type="button" class="btn fa fa-plus btn-success btn-sm mr-1 float-right mr-1" (click)="addContact()"></button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div formArrayName="addresses">
        <label class="col-2 col-form-label">Address</label>
        <div *ngFor="let address of addressesForm.controls; let i = index;" [formGroupName]="i">
          <input class="form-control mb-2" type="text" formControlName="homeaddress" placeholder="YOUR ADDRESS"
            required>
          <div>
            <button type="button" class="btn fa fa-trash btn-secondary btn-sm float-right" *ngIf="i > 0" (click)="deleteNewAddress(i)"></button>
          </div>
          <!-- <div class="row pl-3">
            <div *ngIf="address.touched && !address.valid">
              <small class="text-danger" *ngIf="address.hasError('required')">PLEASE INPUT YOUR ADDRESS!</small>
            </div>

          </div> -->
        </div>
        <div>
          <button type="button" class="btn fa fa-plus btn-success btn-sm mr-1 float-right " (click)="addNewAddress() ">
          </button>

        </div>
      </div>
    </div>

  </div>


  <div class="container col-9 mt-4">
    <button type="submit" [disabled]="form.pristine " (click)="onSubmit() " class="btn btn-sm btn-secondary offset-9 col-1 ">Save</button>

    <button class="btn btn-sm btn-dark ml-3 col-1 " routerLink="/employee/list " (click)="this.form.reset(); ">
      <i class="fa fa-long-arrow-left fa-lg "> </i>
    </button>

  </div>
  <!-- <pre>{{ this.form.value | json }}</pre> -->
</form>
