<!-- Copy the form from reactive Form File-->

<div class="container mt-2">
  <div class="row">
    <h1>
      <i class="fa fa-users mb-4"></i> Employee</h1>
  </div>
</div>

<<form [formGroup]="form">

  <div class="container col-8 p-0 mt-4 mb-2">
    <i class="fa fa-info-circle p-2"></i>
    <small>Profile</small>
  </div>

  <div class="container border border-secondary col-8 p-5">
    <div class="form-group row">
      <label class="col-2">First Name</label>
      <input class="col-3 form-control mb-4" type="text" formControlName="firstName">

      <label class="col-2">Last Name</label>
      <input class="col-4 form-control mb-4" type="text" n formControlName="lastName">


      <label class="col-2 col-form-label">Gender</label>
      <div class="form-group mt-2">
        <div class="radio">
          <label class="mr-4">
            <input type="radio" class="ml-2" value=Male formControlName="gender"> Male
          </label>
          <label>
            <input type="radio" value=Female formControlName="gender"> Female
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <label class="col-2 col-form-label">Skills</label>
      <select class="col-3 custom-select" formControlName="skill">
        <option *ngFor="let powers of skillset" [ngValue]="powers">
          {{ powers }}
        </option>
      </select>
    </div>
  </div>

  <div class="container col-8 p-0 mt-2 mb-2">
    <i class="fa fa-id-card p-2"></i>
    <small>Contact Information</small>
  </div>

  <div class="container border border-secondary col-8 p-5">
    <div class="form-group row">
      <div formArrayName="address">
        <label class="col-2 col-form-label">Address</label>
        <div *ngFor="let address of addressForms.controls; let i = index;" [formGroupName]="i">
          <input class="col-4 form-control" type="text" formControlName="homeaddress">
          <button class="btn btn-danger btn-sm" *ngIf="i > 0" (click)="deleteNewAddress()">del</button>
        </div>
      </div>
      <button class="btn btn-success btn-sm" (click)="addNewAddress()">+</button>
    </div>

    <div class="form-group row">
      <div formArrayName="phones">
        <label class="col-2 col-form-label">Contacts</label>
        <div *ngFor="let phone of phoneForms.controls; let i = index;" [formGroupName]="i">
          <input class="col-4 form-control" type="number" formControlName="homenumber">
          <button class="btn btn-danger btn-md float-left" (click)="deleteContact()" *ngIf="i > 0">del</button>
        </div>

      </div>
      <button class="btn btn-success btn-sm float-left" (click)="addContact()">+</button>
    </div>
  </div>


  <div class="container col-9 mt-4">
    <button type="button" class="btn btn-sm btn-success offset-9 col-1" value="Add" ng-click="" (click)="onSubmit()">Save</button>
    <button class="btn btn-sm btn-info ml-3 col-1" routerLink="/employee/details">back</button>
  </div>
  <span>{{ this.form.value | json }}</span>
  </form>
