<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h1>
        <i class="fa fa-users mb-4"></i> Employee</h1>
    </div>
  </div>
  <div class="row">
    <app-view-options class="col-6"></app-view-options>
    <a class="nav-link text-dark ml-auto" routerLink="/employee/form">
      <i class="fa fa-plus-circle"></i> New Employee</a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">

        <table class="table table-hover table-bordered">
          <thead class="thead-light text-center">
            <tr>
              <th>Name
              </th>
              <th>Gender</th>
              <th>Skills</th>
              <th>Addresses</th>
              <th>Contacts</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let employee of employee">
              <td>
                <a (click)="onSelect(employee)" class="nav-link active" routerLink="/employee/form">
                  {{ employee.firstName }} {{ employee.lastName}}</a>
                <!--to get the data -->
              </td>
              <td>{{ employee.gender }}</td>
              <td>
                {{ employee.skill }}
              </td>
              <td>
                <div *ngFor="let address of employee.addresses">
                  {{ address.homeaddress }}
                </div>
              </td>
              <td>
                <div *ngFor="let contacts of employee.contacts">
                  {{ contacts.homenumber }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <app-pagination class="float-right mt-5"></app-pagination>
