<div class="container">
  <div class="row">
    <div class="col">
      <h1><i class="fa fa-users"></i> Employee</h1>
    </div>
  </div>
  
  <div class="row">
      <app-view-options class="col-6"></app-view-options>
      <a class="nav-link text-dark ml-auto" routerLink="/employee-form" >
        <i class="fa fa-plus-circle"></i> New Employee</a>
  </div>
  
<app-employee-details></app-employee-details>
</div>



<!-- <div class="container">
  <div class="row">
    <h1>
      <i class="fa fa-users mb-4"></i> Employee</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="container">

      <app-view-options class="col-6"></app-view-options>

    </div>
  </div>
</div>

<div class="container">
  <a routerLink="/employee-form" class="btn btn-info float-right mb-6">
    <i class="fa fa-arrow-circle-o-right"></i> New Employee</a>
  <app-employee-details>
  </app-employee-details>
</div> -->
